<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>This is user dashboard </title>
</head>
<body>
<section>
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="my-card">
          <div class="container text-center">
            <img style="width: 80px" th:src="@{/images/profile.png}" alt="user picture"/>
          </div>
          <h1 class="text-center">User dashboard</h1>
        </div>
      </div>
    </div>

  </div>


</section>

</body>
</html>