<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{user/user-base::layout(~{::section})}">
<head>
  <meta charset="UTF-8">
  <title>view all contacts </title>
</head>
<body>
<section>
  <div class="card">
    <div class="card-body">
      <h1 class="text-center card-title">Your Contacts</h1>

      <div class="search-container my-4">
        <input id="search-input" onkeyup="search()" type="text" class="form-control" placeholder="Search contacts" aria-label="Search">
        <div class="search-result">

        </div>
      </div>

      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Image</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Phone</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data,index:${dataList}">
          <th scope="row" th:text="${index.index + 1}">1</th>
          <th scope="row">
            <div ><img style="width: 50px; height:50px; object-fit:cover;border-radius: 50%" src="" th:src="${'/uploaded/'+data.imageUrl}" alt="Profile image"></div>
          </th>
          <td><span th:text="${data.name}"></span>(<span th:text="${data.nickName}"></span>)</td>
          <td th:text="${data.email}">Otto</td>
          <td th:text="${data.phone}">@mdo</td>
          <td>
            <a title="view" th:href="@{'/user/'+${data.id}+'/contact'}" class="btn btn-outline-info"><i class="bi bi-card-text"></i></a>
            <a title="update" th:href="@{'/user/update/'+${data.id}+'/contact'}" class="btn btn-outline-warning"><i class="bi bi-pencil-square"></i></a>
            <button title="delete" th:onclick="|deleteContact(${data.id})|" class="btn btn-outline-danger"><i class="bi bi-trash3-fill"></i></button>
          </td>
        </tr>
        </tbody>
      </table>

      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item" th:classappend="${currentPage == 0?'disabled':''}">
            <a class="page-link" th:href="@{'/user/view-contacts?pageNo='+(${currentPage}-1)+'&pageSize='+${pageSize}}">Previous</a>
          </li>
          <li class="page-item"  th:each="i: ${#numbers.sequence(1,totalPage)}" th:classappend="${1+currentPage==i?'active':''}"><a class="page-link" th:href="@{'/user/view-contacts?pageNo='+(${i}-1)+'&pageSize='+${pageSize}}"><span th:text="${i}"></span></a></li>

          <li class="page-item" th:classappend="${currentPage+1 == totalPage?'disabled':''}">
            <a class="page-link" th:href="@{'/user/view-contacts?pageNo='+${currentPage+1}+'&pageSize='+${pageSize}}">Next</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>

  <script>
    $(document).ready(() =>{
      $(".item").removeClass("active-menu");
      $("#view-contact").addClass("active-menu");
    });
  </script>

</section>

</body>
</html>