<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>This is login Page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card">

                    <div class="container text-center">
                        <img style="width: 80px" th:src="@{/images/confidental.png}"/>
                    </div>

                    <h1 class="text-center">Enter New Password</h1>
                    <form th:action="@{/verify-otp}" action="#" method="post">

                        <div class="mb-3">
                            <label for="new-password" class="form-label">New Password</label>
                            <input type="password" name="newPassword" class="form-control" id="new-password" placeholder="New Password">
                        </div>
                        <div class="mb-3">
                            <label for="confirm-password" class="form-label">Confirm Password</label>
                            <input type="password" name="confirmPassword" class="form-control" id="confirm-password" placeholder="Confirm Password">
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary d-block mb-2 w-100">Save new password</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>


</section>

</body>
</html>