<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
    <meta charset="UTF-8">
    <title>Forget password</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card">
                    <div class="container text-center">
                        <img style="width: 80px" th:src="@{/images/reset-password.png}"/>
                    </div>

                    <h1 class="text-center">Recover your password</h1>
                    <form th:action="@{/send-otp}" action="#" method="post">

                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary d-block mb-2 w-100">Send OTP</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>


</section>

</body>
</html>