<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title>This is sign up Page</title>
</head>
<body>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="my-card">
                    <div class="container text-center">
                        <img style="width: 80px" th:src="@{/images/membership.png}"/>
                    </div>

                    <h1 class="text-center">Register Here !!</h1>
                    <form th:action="@{/do-register}" method="post">
                        <div class="mb-3">
                            <label for="name" class="form-label">Name</label>
                            <input type="text" class="form-control" id="name" placeholder="Enter your name">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" placeholder="Enter your email">
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password" placeholder="Enter your password">
                        </div>
                        <div class="mb-3">
                            <label for="about">About</label>
                            <textarea class="form-control" rows="6" placeholder="about your self" id="about"></textarea>
                        </div>
                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Check me out</label>
                        </div>
                        <div class="container text-center">
                            <button type="submit" class="btn btn-primary d-block mb-2 w-100">Submit</button>
                            <button type="reset" class="btn btn-warning d-block w-100">Reset</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>


</section>

</body>
</html>